html {height: 100%;}

h1 {
  text-align: center;
  font-size: 1em;
  color: #009;
  margin-bottom: .3em;
  text-decoration: underline;
}

p {
  text-align: center;
  color: black;
}

.paragraph1 {background-color: silver; }

.paragraph2 {background-color: darkcyan;
             opacity: 80;} 

.paragraph3 {background-color: darkgoldenrod; }

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*Troubleshooting on 11/12*/
